<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
<h3 id="name">Name: {{ name }}</h3>
<h3 id="status">Status: {{ status }}</h3>

<form action="{% url 'confirmation' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="name" id="id_name" value="{{ name }}">
    <input type="hidden" name="status" id="id_status" value="{{ status }}">
    <br>
    <p>Are you sure you want to post this status</p>
    <button id="back">Cancel</button>
    <input class="submit_button" type="Submit" name="continue" value="Submit Status"/>
</form>
</body>
</html>