<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h1>
    Hello, how are you?
</h1>

<div>
    <form method="POST" action="{% url 'confirmation' %}">
        {% csrf_token %}
        <label>Name:</label>
        {{ form.name }}
        <label>Status:</label>
        {{ form.status }}
        <br>
        <button type="submit" name="submit">Submit</button>
    </form>
</div>


<table style="width: 100%; border: 1px solid black;">
    <thead style="width: 100%;border: 1px solid black; background-color: grey;">
    <th style="text-align: center;">Name</th>
    <th style="text-align: center;">Status</th>
    </thead>
    {% for stat in status %}
    <tr style="background-color: honeydew;">
        <th style="text-align: center;">{{ stat.name }}</th>
        <th style="text-align: center;">{{ stat.status }}</th>
    </tr>
    {% endfor %}
</table>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>